body {
  background-color: #b5c2ca;
}

h4,
h5 {
  margin-top: 0;
  font-weight: 500;
  max-width: 80%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  padding: 2em 1em;
  border-radius: 0.5em;
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
